In [3]:
# 3 Python Sets
# 3.1 Set Initialization Examples

# Initialize empty set
emptySet = set()
# Pass a list to set() to initialize it
# dataScientist = set(['Python', 'R', 'SQL', 'Git', 'Tableau', 'SAS'])
# dataEngineer = set(['Python', 'Java', 'Scala', 'Git', 'SQL', 'Hadoop'])

# # Direct initialization using curly braces
dataScientist = {'Python', 'R', 'SQL', 'Git', 'Tableau', 'SAS'}
dataEngineer = {'Python', 'Java', 'Scala', 'Git', 'SQL', 'Hadoop'}
# Curly braces can only be used to initialize a set containing values
emptyDict= {}

print(emptySet)
print(dataScientist)
print(dataEngineer)
print(emptyDict)

set()
{'Tableau', 'R', 'Python', 'SAS', 'SQL', 'Git'}
{'Java', 'Scala', 'Python', 'Hadoop', 'SQL', 'Git'}
{}

In [16]:
# 3.2 Set Modification Examples
# Initialize set with values
graphicDesigner = {'InDesign', 'Photoshop', 'Acrobat', 'Premiere', 'Bridge'}
print(graphicDesigner)
#  Add a new immutable element to the set
graphicDesigner.add('Illustrator')
print(graphicDesigner)
# # TypeError: unhasable type ‘list’
# graphicDesigner.add(['Powerpoint', 'Blender'])

# # Remove an element from the set
graphicDesigner.remove('Illustrator') #Will raise an error if does not exist
print(graphicDesigner)
# # Another way to remove an element. What is the difference?
graphicDesigner.discard('Premiere') #will not raise error if does not exist
print(graphicDesigner)
# # Remove and return an arbitrary value from a set
print(graphicDesigner.pop())
print(graphicDesigner)
# # Remove al values from the set
graphicDesigner.clear()
print(graphicDesigner)

{'Bridge', 'InDesign', 'Photoshop', 'Acrobat', 'Premiere'}
{'Bridge', 'Illustrator', 'InDesign', 'Photoshop', 'Acrobat', 'Premiere'}
{'Bridge', 'InDesign', 'Photoshop', 'Acrobat', 'Premiere'}
{'Bridge', 'InDesign', 'Photoshop', 'Acrobat'}
Bridge
{'InDesign', 'Photoshop', 'Acrobat'}
set()

In [56]:
# 3.3 Set Operations
# Initialize sets
dataScientist = set(['Python', 'R', 'SQL', 'Git', 'Tableau', 'SAS'])
dataEngineer = set(['Python', 'Java', 'Scala', 'Git', 'SQL', 'Hadoop'])
dataEngineer.add('AMN')
# set built-in function union
dataScientist.union(dataEngineer)
# Equivalent Result
dataScientist | dataEngineer
# # Intersection operation
dataScientist.intersection(dataEngineer)
# # Equivalent Result
dataScientist & dataEngineer

# # These sets have elements in common so isdisjoint would return False
dataScientist.isdisjoint(dataEngineer)
# # Difference Operation
dataScientist.difference(dataEngineer)
# # Equivalent Result
dataScientist-dataEngineer
# # Symmetric Difference Operation
dataScientist.symmetric_difference(dataEngineer)
# # Equivalent Result
dataScientist ^ dataEngineer
# help(dataScientist) to get more info

{'AMN', 'Hadoop', 'Java', 'R', 'SAS', 'Scala', 'Tableau'}

In [53]:
# 3.4 Frozensets

# Nested Lists and Tuples
nestedLists = [['the', 12], ['to', 11], ['of', 9], ['and', 7], ['that', 6]]
nestedTuples = (('the', 12), ('to', 11), ('of', 9), ('and', 7), ('that', 6))

print(nestedLists)
print(nestedTuples)
# # Initialize a frozenset
immutableSet = frozenset()
print(id(immutableSet))
immutableSet=nestedLists  #If id changes when assigning another value then immutable
print(id(immutableSet))
immutableSet.append('the')
print(id(immutableSet))
# # Initialize a frozenset
nestedSets = set([frozenset()])
print(nestedSets)

# # AttributeError: 'frozenset' object has no attribute 'add'
# immutableSet.add("Strasbourg")

# help(immutableSet)

# Immutable data types differ from their mutable counterparts in that they can not be changed after creation. 
# Some immutable types include numeric data types, strings, bytes, frozen sets, and tuples.
# Mutable sequences can be changed after creation.
# Some of Python’s mutable data types are: lists, byte arrays, sets, and dictionaries.

[['the', 12], ['to', 11], ['of', 9], ['and', 7], ['that', 6]]
(('the', 12), ('to', 11), ('of', 9), ('and', 7), ('that', 6))
139667874921600
139666618776640
139666618776640
{frozenset()}

In [118]:
# 4 Python Exception Handling
# 4.2 Exception Handling with Try Except Clause
a=10
b=90
try: 
   z=a-b
   if(z<0):
     raise Exception
   else:
     print(z)
except:
   z=a+b
   print(z)

# 4.3 Re-raise the exception
import traceback
def myfunction(a, b):
  return a + b
try:
 myfunction(100, "one hundred")
except:
    traceback.print_exc()

100

Traceback (most recent call last):
  File "<ipython-input-118-ee466c7a07ca>", line 20, in <module>
    myfunction(100, "one hundred")
  File "<ipython-input-118-ee466c7a07ca>", line 18, in myfunction
    return a + b
TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [108]:
# 4.4 Catch certain types of exception
def myfunction(a, b):
  return a + b
try:
 myfunction(100, "one hundred")
except TypeError:
 print("Cannot sum the variables. Please pass numbers only.")


try:
 myfunction(100, "one hundred")
except TypeError as e:
 print(f"Cannot sum the variables. The exception was:{e}")


try:
  myfunction(100, a)
except (TypeError, NameError) as e:
   print(f"Cannot sum the variables. The exception was {e}")

Cannot sum the variables. Please pass numbers only.
Cannot sum the variables. The exception was:unsupported operand type(s) for +: 'int' and 'str'

In [111]:
# 4.5 Try....Finally

try:
 x = float(input("Your number: "))
 inverse = 1.0 / x
finally:
 print("There may or may not have been an exception.")
 print("The inverse: ", inverse)

Your number: 2
There may or may not have been an exception.
The inverse:  0.5

In [114]:
# 4.6 Try..except and finally

try:
 x = float(input("Your number: "))
 inverse = 1.0 / x
except ValueError:
 print("You should have given either an int or a float")
except ZeroDivisionError:
 print("Infinity")
finally:
 print("There may or may not have been an exception.")

Your number: 0
Infinity
There may or may not have been an exception.

In [123]:
# 5 Python File Handling

# a file named "book", will be opened with the reading mode.
file = open('book.txt', 'r')
# This will print every line one by one in the file
for each in file:
  print (each)

file2 = open("book.txt", "r")
print (file2.read())

# Python code to illustrate read() mode character wise
file3 = open("book.txt", "r")
print (file3.read(5))

This is a book

from FAST - NU



This is a book
from FAST - NU


This

In [124]:
# 5.4 Working of write() mode
# Python code to create a file
file = open('book.txt','w')
file.write("This is the write command")
file.write("It allows us to write in a particular file")
file.close()

In [125]:
# 5.5 Working of append() mode

# Python code to illustrate append() mode
file = open('book.txt','a')
file.write("This will add this line")
file.close()

In [128]:
# 6 Python Iterators

# 6.1 Building Custom Iterators

mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)
print(next(myit))
print(next(myit))
print(next(myit))

mystr = "banana"
for x in mystr:
 print(x)

apple
banana
cherry
b
a
n
a
n
a